# ====================================================================================================
# ====================================================================================================
# ==================================Global Configurations=============================================
# ====================================================================================================
# ====================================================================================================
microcosmVersion: develop-9302179
environment: development
# cloudProvider is provider where you are going to deploy microcosm, it could be: aws, minikube
cloudProvider: 
  name: azure
  dockerRegisteryUrl: 'xdxdxdxd'

global:
  deployConfig: true
  storageClass: 'whatever'


# ====================================================================================================
# Ingress variables
# ====================================================================================================
ingress:
  enabled: false

images:
  nginx: 
    repository: nginx
    tag: 116


# ====================================================================================================
# Domain app configuration
# ====================================================================================================
domain:
  #enabled, If you set  enabled=true, you should uncomment the following configurations
  enabled: false
  # domainName, Add here your domain or the fixed IP  where the server is running
  domainName: '192.168.49.2'
  protocolo: http

# ====================================================================================================
# ====================================================================================================
# ==================================Pods Configurations===============================================
# ====================================================================================================
# ====================================================================================================

# ====================================================================================================
# Variables for the core ingestion
# ====================================================================================================

ingestion:
  enabled: true
  dbConfig:
    user: postgres
    password: '1234'
    host: web-db
    db: openstreetmap
    port: 5432
  ingress:
    enabled: true
    hostname: localhost
  pods:
    # ====================================================================================================
    # Variables for microcosm database
    # ====================================================================================================
    webDb:
      enabled: true
      image:
        repository: 'microcosm-web-db'
        tag: 'v1'

    # ====================================================================================================
    # Variables for microcosm website
    # ====================================================================================================
    web:
      enabled: true
      image:
        repository: 'microcosm-openstreetmap-website'
        tag: 'v1'
      route:
        enabled: true
        tls: false
        path: /
      replicaCount: 1
      oauth:
        key: 'aaaaaa'

    cgimap:
      enabled: false
      route:
        enabled: true
        tls: false
        path: /
      image:
        repository: 'microcosm-cgimap'
        tag: 'v1'
      replicaCount: 1


    # ====================================================================================================
    # Variables for microcosm for planet-dump from the apidb
    # ====================================================================================================
    planetDump:
      enabled: false
      image: 
        repository: 'microcosm-planet-dump'
        tag: v1
      env:
        CREATE_DUMP_SCHEDULE_CRON: '0 0 * * 0'

    # ====================================================================================================
    # Variables for replication-job, Configured to create replication files of minute
    # ====================================================================================================
    replicationJob:
      enabled: false
      image:
        repository: 'microcosm-replication-job'
        tag: 'v1'

    # ====================================================================================================
    # Variables for microcosm to populate the apidb
    # ====================================================================================================
    populateApidb:
      enabled: false
      image:
        repository: 'microcosm-populate-apidb'
        tag: 'v1'
      env:
        URL_FILE_TO_IMPORT: 'https://download.geofabrik.de/europe/andorra-latest.osm.pbf'

    # ====================================================================================================
    # Variables for replication-merger, Configured to create the replication files by,hour, day or week
    # ====================================================================================================
    replicationMerger:
      enabled: false
      image:
        repository: 'microcosm-replication-merger'
        tag: 'v1'
      timeUnits:
        - name: hour
          based_on: minute
          interval: 3600
          max_interval: 0
        - name: day
          based_on: hour
          interval: 86400
          max_interval: 0
        - name: week
          based_on: day
          interval: 604800
          max_interval: 0

    # ====================================================================================================
    # The Replication Http server, serves replication of minutes, and merged hours, days and weeks.
    # ====================================================================================================
    replicationHttpServer:
      enabled: true


earthTiles:
  enabled: false
  dbConfig:
    user: postgres
    password: '1234'
    host: earth-tiles-db
    db: tiler-osm
    port: 5432
  pods:
    # ====================================================================================================
    # Variables for earth tiles database for rendering
    # ====================================================================================================
    db:
      enabled: true
      image:
        repository: 'microcosm-tiles-db'
        tag: 'v1'

      # ====================================================================================================
      # Variables for earth tiles loader
      # ====================================================================================================
    loader:
      enabled: true
      image:
        repository: 'microcosm-earth-tiles-loader'
        tag: 'v1'
      env:
        LOAD_EXTERNAL_SCHEDULE_CRON: '0 4 * * 0'

vectorTiles:
  enabled: false
  dbConfig:
    user: postgres
    password: '1234'
    host: vector-tiles-db
    db: tiler-osm
    port: 5432
  # ====================================================================================================
  # Variables for vector-tiles-db
  # ====================================================================================================
  pods:
    db:
      enabled: true
      image:
        repository: 'microcosm-tiles-db'
        tag: 'v1'

    # ====================================================================================================
    # Variables for imposm
    # ====================================================================================================
    imposm:
      enabled: true
      image:
        repository: 'microcosm-imposm'
        tag: 'v1'
      env:
        CONFIG_EXPIRED_TILES_ZOOM: 14
        CONFIG_REPLICATION_INTERVAL: 1m

    # ====================================================================================================
    # Variables for tegola
    # ====================================================================================================
    tegola:
      enabled: true
      image:
        repository: 'microcosm-tegola'
        tag: 'v1'
      replicaCount: 1
      service:
        nodePort: 30101
      env:
        URI_PREFIX: mvt
        TILER_SERVER_PORT: 80
        TILER_CACHE_TYPE: file
        TILER_CACHE_BASEPATH: /mnt/data
        TILER_CACHE_MAX_ZOOM: 19
        TILER_CACHE_MIN_ZOOM: 14
        EXPIRE_TILES_DIR: /mnt/expiretiles
        TILER_CACHE_UPDATE_INTERVAL: 60

rasterizedTiles:
  enabled: false
  dbConfig:
    user: postgres
    password: '1234'
    host: tiler-db
    db: tiler-osm
    port: 5432
  pods:
    # ====================================================================================================
    # Variables for rasterized-tiles-db
    # ====================================================================================================
    db:
      enabled: true
      image:
        repository: 'microcosm-tiles-db'
        tag: 'v1'

    # ====================================================================================================
    # Variables for osm2pgsql
    # ====================================================================================================
    osm2pgsql:
      enabled: true
      image:
        repository: 'microcosm-osm2pgsql'
        tag: 'v1'
      env:
        UPDATE_INTERVAL: 60
        REPLICATION_DIRECTORY: /mnt/replication
        EXPIRED_DIRECTORY: /mnt/expired

    # ====================================================================================================
    # Variables for mod-tile
    # ====================================================================================================
    modTile:
      enabled: true
      image:
        repository: 'microcosm-mod-tile'
        tag: 'v1'
      replicaCount: 1
      env:
        EXPIRED_DIRECTORY: /mnt/expired
        TILE_EXPIRE_MIN_ZOOM: 14

