# ====================================================================================================
# ====================================================================================================
# ==================================Global Configurations=============================================
# ====================================================================================================
# ====================================================================================================
microcosmVersion: develop-9302179
environment: development
# cloudProvider is provider where you are going to deploy microcosm, it could be: aws, minikube
cloudProvider: minikube

# ====================================================================================================
# AWS: In case you are using the cloudProvider=aws set the below variables, We are assuming the nodes has a policies access to S3
# ====================================================================================================
AWS_S3_BUCKET: s3://microcosm

# ====================================================================================================
# EFS configuration
# ====================================================================================================
efs:
  storageClass: efs-sc
  volumeHandle: <your-handle>

# ====================================================================================================
# MINIKUBE: In case you are using the cloudProvider=minikube set the below variables
# ====================================================================================================
minikubeHostPath: /data

# ====================================================================================================
# Ingress variables
# ====================================================================================================
ingress:
  enabled: false
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  path: /
  hosts:
    - chart-example.local
  tls: []

# ====================================================================================================
# general images configuration
# ====================================================================================================
images:
  nginx: nginx:1.19.2-alpine

# ====================================================================================================
# Domain app configuration
# ====================================================================================================
domain:
  #enabled, If you set  enabled=true, you should uncomment the following configurations
  enabled: false
  # domainName, Add here your domain or the fixed IP  where the server is running
  domainName: '192.168.49.2'
  protocolo: http













