# ====================================================================================================
# ====================================================================================================
# ==================================Global Configurations=============================================
# ====================================================================================================
# ====================================================================================================
microcosmVersion: develop-9302179
environment: development
# cloudProvider is provider where you are going to deploy microcosm, it could be: aws, minikube
cloudProvider: 
  name: azure
  dockerRegisteryUrl: 'xdxdxdxd'

global:
  deployConfig: true
  storageClass: 'whatever'

# ====================================================================================================
# AWS: In case you are using the cloudProvider=aws set the below variables, We are assuming the nodes has a policies access to S3
# ====================================================================================================
AWS_S3_BUCKET: s3://microcosm


# ====================================================================================================
# MINIKUBE: In case you are using the cloudProvider=minikube set the below variables
# ====================================================================================================
minikubeHostPath: /data

# ====================================================================================================
# Ingress variables
# ====================================================================================================
ingress:
  enabled: false
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  path: /
  hosts:
    - chart-example.local
  tls: []

# ====================================================================================================
# general images configuration
# ====================================================================================================
images:
  nginx: nginx:1.19.2-alpine

# ====================================================================================================
# Domain app configuration
# ====================================================================================================
domain:
  #enabled, If you set  enabled=true, you should uncomment the following configurations
  enabled: false
  # domainName, Add here your domain or the fixed IP  where the server is running
  domainName: '192.168.49.2'
  protocolo: http

# ====================================================================================================
# ====================================================================================================
# ==================================Pods Configurations===============================================
# ====================================================================================================
# ====================================================================================================

# ====================================================================================================
# Variables for the core ingestion
# ====================================================================================================

ingestion:
  enabled: true
  dbConfig:
    user: postgres
    password: '1234'
    host: web-db
    db: openstreetmap
    port: 5432
  pods:
    # ====================================================================================================
    # Variables for microcosm database
    # ====================================================================================================
    webDb:
      enabled: true
      image:
        repository: 'microcosm-web-db'
        tag: 'v1'
      persistenceDisk:
        enabled: true
        accessMode: readWriteMany
        mountPath: /var/lib/postgresql/data
        subPath: postgresql-db
        storageSize: 5Gi
      resources:
        enabled: false
        requests:
          memory: '1Gi'
          cpu: '1'
        limits:
          memory: '2Gi'
          cpu: '1'

    # ====================================================================================================
    # Variables for microcosm website
    # ====================================================================================================
    web:
      enabled: true
      image:
        repository: 'microcosm-openstreetmap-website'
        tag: 'v1'
      route:
        enabled: true
        path: /
      replicaCount: 1
      oauth:
        key: 'aaaaaa'
      service:
        nodePort: 30100
      env:
        MAILER_ADDRESS: smtp.gmail.com
        MAILER_DOMAIN: gmail.com
        MAILER_USERNAME: microcosm.test@gmail.com
        MAILER_PASSWORD: '1234'
      resources:
        enabled: false
        requests:
          memory: '1Gi'
          cpu: '1'
        limits:
          memory: '2Gi'
          cpu: '2'


    # ====================================================================================================
    # Variables for microcosm for planet-dump from the apidb
    # ====================================================================================================
    planetDump:
      enabled: false
      image: 
        repository: 'microcosm-planet-dump'
        tag: v1
      persistenceDisk:
        enabled: true
        accessMode: ReadWriteMany
        mountPath: /mnt/dump
        subPath: planet-dumps
        # In case cloudProvider: aws
        storageSize: 5Gi
      env:
        CREATE_DUMP_SCHEDULE_CRON: '0 0 * * 0'
      resources:
        enabled: false
        requests:
          memory: '14Gi'
          cpu: '4'
        limits:
          memory: '16Gi'
          cpu: '4'

    # ====================================================================================================
    # Variables for replication-job, Configured to create replication files of minute
    # ====================================================================================================
    replicationJob:
      enabled: true
      image:
        repository: 'microcosm-replication-job'
        tag: 'v1'
      persistenceDisk:
        enabled: true
        accessMode: ReadWriteMany
        mountPath: /mnt/replications
        subPath: replication-dir/minute
        storageSize: 5Gi
      resources:
        enabled: false
        requests:
          memory: '2Gi'
          cpu: '1'
        limits:
          memory: '2Gi'
          cpu: '2'
    # ====================================================================================================
    # Variables for microcosm to populate the apidb
    # ====================================================================================================
    populateApidb:
      enabled: true
      image:
        repository: 'microcosm-populate-apidb'
        tag: 'v1'
      env:
        URL_FILE_TO_IMPORT: 'https://download.geofabrik.de/europe/andorra-latest.osm.pbf'
      resources:
        enabled: false
        requests:
          memory: '1Gi'
          cpu: '1'
        limits:
          memory: '2Gi'
          cpu: '2.5'
    # ====================================================================================================
    # Variables for replication-merger, Configured to create the replication files by,hour, day or week
    # ====================================================================================================
    replicationMerger:
      enabled: false
      image:
        repository: 'microcosm-replication-merger'
        tag: 'v1'
      persistenceDisk:
        enabled: true
        accessMode: ReadWriteMany
        mountPath: /mnt/data
        subPath: replication-dir
        storageSize: 5Gi
      resources:
        enabled: false
        requests:
          memory: '2Gi'
          cpu: '1'
        limits:
          memory: '2Gi'
          cpu: '2'
      timeUnits:
        - name: hour
          based_on: minute
          interval: 3600
          max_interval: 0
        - name: day
          based_on: hour
          interval: 86400
          max_interval: 0
        - name: week
          based_on: day
          interval: 604800
          max_interval: 0

    # ====================================================================================================
    # The Replication Http server, serves replication of minutes, and merged hours, days and weeks.
    # ====================================================================================================
    replicationHttpServer:
      enabled: true
      persistenceDisk:
        enabled: true
        accessMode: ReadWriteMany
        mountPath: /usr/share/nginx/html
        subPath: replication-dir
        # In case cloudProvider: aws
        storageSize: 5Gi
      resources:
        enabled: false
        requests:
          memory: '2Gi'
          cpu: '1'
        limits:
          memory: '2Gi'
          cpu: '2'


earthTiles:
  enabled: true
  dbConfig:
    user: postgres
    password: '1234'
    host: earth-tiles-db
    db: tiler-osm
    port: 5432

  pods:
    # ====================================================================================================
    # Variables for earth tiles database for rendering
    # ====================================================================================================
    db:
      enabled: true
      image:
        repository: 'microcosm-tiles-db'
        tag: 'v1'
      persistenceDisk:
        enabled: true
        accessMode: readWriteMany
        mountPath: /var/lib/postgresql/data
        subPath: external-data-db
        storageSize: 5Gi
      resources:
        enabled: false
        requests:
          memory: '1Gi'
          cpu: '1'
        limits:
          memory: '2Gi'
          cpu: '1'

      # ====================================================================================================
      # Variables for earth tiles loader
      # ====================================================================================================
    loader:
      enabled: true
      image:
        repository: 'microcosm-earth-tiles-loader'
        tag: 'v1'
      env:
        LOAD_EXTERNAL_SCHEDULE_CRON: '0 4 * * 0'
      resources:
        enabled: false
        requests:
          memory: '1Gi'
          cpu: '1'
        limits:
          memory: '2Gi'
          cpu: '2'

vectorTiles:
  enabled: true
  dbConfig:
    user: postgres
    password: '1234'
    host: vector-tiles-db
    db: tiler-osm
    port: 5432
  # ====================================================================================================
  # Variables for vector-tiles-db
  # ====================================================================================================
  pods:
    db:
      enabled: true
      image:
        repository: 'microcosm-tiles-db'
        tag: 'v1'
      persistenceDisk:
        enabled: true
        accessMode: readWriteMany
        mountPath: /var/lib/postgresql/data
        subPath: tegola-postgresql-db
        # In case cloudProvider: aws
        storageSize: 5Gi
      resources:
        enabled: false
        requests:
          memory: '1Gi'
          cpu: '1'
        limits:
          memory: '2Gi'
          cpu: '2.5'


    # ====================================================================================================
    # Variables for imposm
    # ====================================================================================================
    imposm:
      enabled: true
      image:
        repository: 'microcosm-imposm'
        tag: 'v1'
      env:
        CONFIG_EXPIRED_TILES_ZOOM: 14
        CONFIG_REPLICATION_INTERVAL: 1m
      persistenceDisk:
        data:
          enabled: true
          accessMode: readWriteMany
          mountPath: /mnt/data/
          subPath: imposm-data
          storageSize: 5Gi
        expired:
          enabled: true
          accessMode: ReadWriteMany
          mountPath: /mnt/expired-tiles
          subPath: imposm-expired
          storageSize: 5Gi
      resources:
        enabled: false
        requests:
          memory: '1Gi'
          cpu: '1'
        limits:
          memory: '2Gi'
          cpu: '2'

    # ====================================================================================================
    # Variables for tegola
    # ====================================================================================================
    tegola:
      enabled: true
      image:
        repository: 'microcosm-tegola'
        tag: 'v1'
      replicaCount: 1
      service:
        nodePort: 30101
      env:
        URI_PREFIX: mvt
        TILER_SERVER_PORT: 80
        TILER_CACHE_TYPE: file
        TILER_CACHE_BASEPATH: /mnt/data
        TILER_CACHE_MAX_ZOOM: 19
        TILER_CACHE_MIN_ZOOM: 14
        EXPIRE_TILES_DIR: /mnt/expiretiles
        TILER_CACHE_UPDATE_INTERVAL: 60
        # in case s3
        # TILER_CACHE_BUCKET: microcosm-tiler
        # TILER_CACHE_REGION: us-east-1
        # TILER_CACHE_AWS_ACCESS_KEY_ID: xyz
        # TILER_CACHE_AWS_SECRET_ACCESS_KEY: xyz/q
      # In case you use TILER_CACHE_TYPE: file with  persistenceDisk
      persistenceDisk:
        enabled: true
        accessMode: readWriteMany
        mountPath: /mnt/data
        # In case cloudProvider: aws
        storageSize: 5Gi
      resources:
        enabled: false
        requests:
          memory: '1Gi'
          cpu: '1'
        limits:
          memory: '2Gi'
          cpu: '2'

rasterizedTiles:
  enabled: true
  dbConfig:
    user: postgres
    password: '1234'
    host: tiler-db
    db: tiler-osm
    port: 5432

  pods:
    # ====================================================================================================
    # Variables for rasterized-tiles-db
    # ====================================================================================================
    db:
      enabled: true
      image:
        repository: 'microcosm-tiles-db'
        tag: 'v1'
      persistenceDisk:
        enabled: true
        accessMode: readWriteMany
        mountPath: /var/lib/postgresql/data
        subPath: renderer-postgresql-db
        storageSize: 5Gi
      resources:
        enabled: false
        requests:
          memory: '1Gi'
          cpu: '1'
        limits:
          memory: '2Gi'
          cpu: '2.5'

    # ====================================================================================================
    # Variables for osm2pgsql
    # ====================================================================================================
    osm2pgsql:
      enabled: true
      image:
        repository: 'microcosm-osm2pgsql'
        tag: 'v1'
      env:
        UPDATE_INTERVAL: 60
        REPLICATION_DIRECTORY: /mnt/replication
        EXPIRED_DIRECTORY: /mnt/expired
      persistenceDisk:
        enabled: true
        accessMode: ReadWriteMany
        subPath: osm2pgsql-expired
        storageSize: 5Gi
      resources:
        enabled: false
        requests:
          memory: '1Gi'
          cpu: '1'
        limits:
          memory: '2Gi'
          cpu: '2'


    # ====================================================================================================
    # Variables for mod-tile
    # ====================================================================================================
    modTile:
      enabled: true
      image:
        repository: 'microcosm-mod-tile'
        tag: 'v1'
      replicaCount: 1
      service:
        nodePort: 30102
      env:
        EXPIRED_DIRECTORY: /mnt/expired
        TILE_EXPIRE_MIN_ZOOM: 14
      persistenceDisk:
        enabled: true
        accessMode: readWriteMany
        mountPath: /var/lib/mod_tile
        subPath: mod_tile_cache
        storageSize: 5Gi
      resources:
        enabled: false
        requests:
          memory: '1Gi'
          cpu: '1'
        limits:
          memory: '2Gi'
          cpu: '2'

