{{- $releaseName := .Release.Name -}}
{{- $chartName := include "openstreetmap-website.name" . -}}
{{- if .Values.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $releaseName }}-{{ $chartName }}-configmap
data:
  POSTGRES_HOST:  {{ .Values.dbConfig.host }}
  POSTGRES_DB: {{ .Values.dbConfig.database }}
  {{ if .Values.dbConfig.sslAuth.enabled }}
  ENABLE_DB_CERT_AUTH: "true"
  {{ end }}
{{- end }}
