# Default values for jobs.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
# Master app version - empty var - inherited from parent values file
microcosmVersion: ""
cloudProvider: ""
replicaCount: 1

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths: []
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

nodeSelector: {}

tolerations: []

affinity: {}

# ====================================================================================================
# Variables for replication-job, Configured to create replication files of minute
# ====================================================================================================
replicationJob:
  enabled: true
  image:
    aws: '645470188746.dkr.ecr.eu-west-1.amazonaws.com/libot:replication-job'
    minikube: 'microcosm-replication-job'
    tag: "v1"
  persistenceDisk:
    enabled: true
    accessMode: ReadWriteMany
    mountPath: /mnt/replications
    subPath: replication-dir/minute
    storageSize: 5Gi
  resources:
    enabled: false
    requests:
      memory: '2Gi'
      cpu: '1'
    limits:
      memory: '2Gi'
      cpu: '2'

# ====================================================================================================
# The Replication Http server, serves replication of minutes, and merged hours, days and weeks.
# ====================================================================================================
replicationHttpServer:
  enabled: true
  persistenceDisk:
    enabled: true
    accessMode: ReadWriteMany
    mountPath: /usr/share/nginx/html
    subPath: replication-dir
    # In case cloudProvider: aws
    storageSize: 5Gi
  resources:
    enabled: false
    requests:
      memory: '2Gi'
      cpu: '1'
    limits:
      memory: '2Gi'
      cpu: '2'

# ====================================================================================================
# Variables for replication-merger, Configured to create the replication files by,hour, day or week
# ====================================================================================================

replicationMerger:
  enabled: true
  image:
    aws: '645470188746.dkr.ecr.eu-west-1.amazonaws.com/libot:replication-merger'
    minikube: 'microcosm-replication-merger'
    tag: "v1"
  persistenceDisk:
    enabled: true
    accessMode: ReadWriteMany
    mountPath: /mnt/data
    subPath: replication-dir
    storageSize: 5Gi
  resources:
    enabled: false
    requests:
      memory: '2Gi'
      cpu: '1'
    limits:
      memory: '2Gi'
      cpu: '2'
# ====================================================================================================
# MINIKUBE: In case you are using the cloudProvider=minikube set the below variables
# ====================================================================================================
minikubeHostPath: ""