{{- if .Values.logging.enabled -}}
apiVersion: v1
kind: Secret
metadata:
  name: elastic-credentials
  annotations:
    "helm.sh/resource-policy": keep
  labels:
    app: {{ template "microcosm.name" . }}
    component: web-secret
    environment: {{ .Values.environment }}
    release: {{ .Release.Name }}
type: Opaque
data:
  username: {{ .Values.logging.elasticConfig.elasticUser  | b64enc }}
  password: {{ .Values.logging.elasticConfig.elasticPass | b64enc }}
{{- end }}