{{- if .Values.replicationHttpServer.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-replication-http-server-configmap
data:
  default.conf: |-
    # log_format combined '$remote_addr - $remote_user [$time_local]'
    #     '"$request" $status $body_bytes_sent '
    #     '"$http_referer" "$http_user_agent"';
    server {
        root /usr/share/nginx/html/;
        server_name localhost;
        access_log /var/log/nginx/access.log combined;
        listen 80;
        autoindex on;
    }

{{- end }}