{{- if and .Values.ingestion.enabled .Values.ingestion.pods.web.enabled -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-web-oauth-secret
  annotations:
    "helm.sh/resource-policy": keep
  labels:
    app: {{ template "microcosm.name" . }}
    component: web-secret
    environment: {{ .Values.environment }}
    release: {{ .Release.Name }}
type: Opaque
data:
  oauth_key:  {{ .Values.ingestion.pods.web.oauth.key | b64enc }}
{{- end }}