{{- if and .Values.ingestion.enabled .Values.ingestion.pods.web.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-web
  labels:
    app: {{ template "microcosm.name" . }}
    component: web-service
    environment: {{ .Values.environment }}
    release: {{ .Release.Name }}
spec:
  # In case cloudProvider=aws
  {{- if eq .Values.cloudProvider.name  "aws" }}
  type: LoadBalancer
  {{- end }}
  # In case cloudProvider=minikube
  {{- if eq .Values.cloudProvider.name  "minikube" }}
  type: NodePort
  {{- end }}
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
      {{- if eq .Values.cloudProvider.name  "minikube" }}
      nodePort: {{ .Values.ingestion.pods.web.service.nodePort }}
      {{- end }}
  selector:
    app: {{ template "microcosm.name" . }}
    release: {{ .Release.Name }}
    run: {{ .Release.Name }}-web
{{- end }}