{{- if .Values.ingress.enabled -}}
{{- $fullName := include "microcosm.fullname" . -}}
{{- $ingressPath := .Values.ingress.path -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    app: {{ template "microcosm.name" . }}
    component: ingress
    environment: {{ .Values.environment }}
    release: {{ .Release.Name }}
    masterAppVersion: {{ quote .Values.microcosmVersion }}
{{- with .Values.ingress.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
spec:
{{- if .Values.ingress.tls }}
  tls:
  {{- range .Values.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
    - http:
        paths:
          {{- if .Values.modTile.enabled }}
          - path: /tiles(/|$)(.*)
            pathType: Prefix
            backend:
              service:
                name: {{ .Release.Name }}-mod-tile
                port: 
                  number: 80
          {{- end }}
{{- end }}
